<div class="container ad-index-container">
  
 <!-- <div id="tag_cloud">
    <% tag_cloud Ad.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>-->
  <%= render 'shared/ads' %>
</div>