/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Navigation bar styling

 .navbar {
    background-image: linear-gradient(to right, #8860D0, #5680E9 , #5AB9EA);
    a {
        color: White !important;
    }

    .dropdown-item {
        color: black !important;
    }
 }

 // signup form page styling

 .signup-container {
     width: 340px;
     .signup-input {
         padding-left: 5px;
         border-bottom: 2px solid #adadad !important;
         border: none;
         border-radius: 0%;
         height: 45px;
     }
     .signup-input:focus {
        outline: none !important;
        box-shadow: none;
        border-image-source: linear-gradient(to right, #5AB9EA, #5680E9, #8860D0);
        border-width: 5pt;
        border-image-slice: 1;
     }
     .signup-submit {
         width: 310px;
         font-weight: 500;
         text-transform: uppercase;
         background-image: linear-gradient(to right, #5AB9EA, #5680E9, #8860D0);
         border: none;
         border-radius: 40px;
         height: 46px;
     }
     .signup-header {
        color: #5AB9EA;
        font-weight: bold;
     }
     .signup-render-link {
        margin-top: 40px;
        color: #868685;
        a {
            color: #8860D0;
            font-weight: 500;
        }
        a:hover {
            text-decoration: none;
            color: #5680E9;
        }
     }
 }

 .login-container {
    width: 340px;
    .login-input {
        padding-left: 5px;
        border-bottom: 2px solid #adadad !important;
        border: none;
        border-radius: 0%;
        height: 45px;
    }
    .login-input:focus {
       outline: none !important;
       box-shadow: none;
       border-image-source: linear-gradient(to right, #5AB9EA, #5680E9, #8860D0);
       border-width: 5pt;
       border-image-slice: 1;
    }
    .login-header {
        color: #5AB9EA;
        font-weight: bold;
    }
    .login-submit {
        width: 310px;
        font-weight: 500;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #5AB9EA, #5680E9, #8860D0);
        border: none;
        border-radius: 40px;
        height: 46px;
    }
    .login-render-link {
        margin-top: 40px;
        color: #868685;
        a {
            color: #8860D0;
            font-weight: 500;
            margin-bottom: 20px;
        }
        a:hover {
            text-decoration: none;
            color: #5680E9;
        }
     }
     .user_remember_me {
        color: #868685;
        margin-top: -10px;
        margin-left: -150px;
        .boolean {
            margin-right: 5px;
        }
     }
 }